@import "../../styles/utilities";


.currency-card {
  @include flex-column(1.5em);
  @include border($grey-200, 1px, 0.75em);
  background-color: $white;
  color: $black;
  font-family: Inter, sans-serif;
  min-width: fit-content;
  padding: 1.25em;
  width: 100%;


  &__body {
    @include flex-column(1em);

    &-info {
      display: grid;
      grid-template-columns: auto auto auto;

      p {
        span:first-of-type {
          padding-right: 1em;
        }
      }

    }
  }

  &__header {
    @include flex-row();
    align-items: center;
    justify-content: space-between;

    &-date {
      @include flex-column();
      align-items: center;
    }

    &-logo {
      @include flex-column();
      align-items: flex-start;

      h2 {
        font-size: 1.5em;
      }

      p {
        color: $yellow-main-500;
        font-size: 0.9em;
        margin-top: -0.25em;
      }
    }
  }

  &__toggle-button {
    font-size: 2.25em;
    line-height: 0.5em;
    padding-left: 1.75em;

    @media screen and (max-width: 441px) {
      display: none;
    }
  }
}

@media screen and (max-width: 594px) {
  .currency-card__body-info {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 441px) {
  .currency-card__body-info {
    grid-template-columns: auto;
  }
}