@import "../../styles/utilities";


.crypto-table {
  background-color: $white;
  width: 100%;
  border-collapse: collapse;

  &-header {

    th {
      @include border($grey-400);
      font-size: 1.1em;
      padding: 0.4em 0;
    }

    th:first-of-type {
      padding: 0 0.3rem;
    }
  }
}