@import "../../../styles/utilities";


.crypto-table-item {
  border-bottom: 1px solid $grey-200;
  text-align: center;
  transition: 0.25s ease;

  td {
    @include border($grey-300);
  }

  &:hover {
    background-color: $grey-100;
    cursor: pointer;
  }
}