$background-color: #F5F5F5;
$black: #232134;
$grey-100: #F5F5F6;
$grey-200: #EAEBED;
$grey-300: #D5D6DC;
$grey-400: #C6C7D3;
$grey-500: #ACADB9;
$grey-600: #7B7C88;
$yellow-100: #FFF0B6;
$yellow-200: #FFF58C;
$yellow-300: #FFF04C;
$yellow-400: #FFDA3A;
$yellow-main-500: #FFCA00;
$yellow-600: #E1AB26;
$success-green: #2ECC71;
$failure-red: #E74C3C;
$white: #FFFFFF;