@import "./constants";


@mixin border($border-color, $border-size: 1px, $border-radius: 0) {

  @if $border-color != none {
    border: $border-size solid $border-color;
  }
  @else {
    border: none;
  }

  border-radius: $border-radius;
}

@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

