@import "./constants";


@mixin flex-column($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin flex-row($gap: 0) {
  display: flex;
  flex-direction: row;
  gap: $gap;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.color {
  &-success {
    color: $success-green;
  }

  &-failure {
    color: $failure-red;
  }
}
